<!DOCTYPE html>
html(lang="cs")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/public/styles/index.css")
        title MikroNews Server
    body
        h2 Přihlášení
        .login-page
            .form
                form.login-form(action="/", method="POST")
                    input(type='text', placeholder='jméno', name="username", autocomplete="off", spellcheck="false" required)
                    input(type='password', placeholder='heslo', name="password" required)
                    button(type="submit") přihlásit se
                    -if(messages)
                        div.message #{messages}
